{% extends 'base.html' %}
{% block content %}

<h1>{{ product.name }}</h1>

{% if product.thumbnail %}
  <img src="{{ product.thumbnail }}" alt="{{ product.name }}" width="300" height="200">
{% endif %}

{% if product.is_featured %}
  <p style="color:red;font-weight:bold;">LANGKA NI BOS!!!!</p>
{% endif %}

<p><b>Harga:</b> Rp {{ product.price }}</p>

<p><b>Kategori:</b> {{ product.get_category_display }}</p>

<p>{{ product.description }}</p>

<hr>

<a href="{% url 'main:show_main' %}">
  <button>← Kembali ke Daftar Produk</button>
</a>

{% endblock content %}
